<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.EmpsMapper">
  <resultMap id="BaseResultMap" type="com.woniu.domain.Emps">
    <id column="EMP_ID" jdbcType="INTEGER" property="empId" />
    <result column="ENAME" jdbcType="VARCHAR" property="ename" />
    <result column="SEX" jdbcType="VARCHAR" property="sex" />
    <result column="BIRTHDAY" jdbcType="TIMESTAMP" property="birthday" />
    <result column="PHONE" jdbcType="VARCHAR" property="phone" />
    <result column="HIREDATE" jdbcType="TIMESTAMP" property="hiredate" />
    <result column="DEPT_ID" jdbcType="INTEGER" property="deptId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="OA_ACCOUNT" jdbcType="VARCHAR" property="oaAccount" />
    <result column="OA_PASSWORD" jdbcType="VARCHAR" property="oaPassword" />
    <result column="SALT" jdbcType="VARCHAR" property="salt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    EMP_ID, ENAME, SEX, BIRTHDAY, PHONE, HIREDATE, DEPT_ID, STATUS, OA_ACCOUNT, OA_PASSWORD, 
    SALT
  </sql>
  <select id="selectByExample" parameterType="com.woniu.domain.EmpsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from emps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emps
    where EMP_ID = #{empId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emps
    where EMP_ID = #{empId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.EmpsExample">
    delete from emps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Emps">
    insert into emps (EMP_ID, ENAME, SEX, 
      BIRTHDAY, PHONE, HIREDATE, 
      DEPT_ID, STATUS, OA_ACCOUNT, 
      OA_PASSWORD, SALT)
    values (#{empId,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=TIMESTAMP}, #{phone,jdbcType=VARCHAR}, #{hiredate,jdbcType=TIMESTAMP}, 
      #{deptId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{oaAccount,jdbcType=VARCHAR}, 
      #{oaPassword,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Emps">
    insert into emps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        EMP_ID,
      </if>
      <if test="ename != null">
        ENAME,
      </if>
      <if test="sex != null">
        SEX,
      </if>
      <if test="birthday != null">
        BIRTHDAY,
      </if>
      <if test="phone != null">
        PHONE,
      </if>
      <if test="hiredate != null">
        HIREDATE,
      </if>
      <if test="deptId != null">
        DEPT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="oaAccount != null">
        OA_ACCOUNT,
      </if>
      <if test="oaPassword != null">
        OA_PASSWORD,
      </if>
      <if test="salt != null">
        SALT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="ename != null">
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null">
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="oaAccount != null">
        #{oaAccount,jdbcType=VARCHAR},
      </if>
      <if test="oaPassword != null">
        #{oaPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.EmpsExample" resultType="java.lang.Long">
    select count(*) from emps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update emps
    <set>
      <if test="record.empId != null">
        EMP_ID = #{record.empId,jdbcType=INTEGER},
      </if>
      <if test="record.ename != null">
        ENAME = #{record.ename,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        SEX = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="record.phone != null">
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.hiredate != null">
        HIREDATE = #{record.hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deptId != null">
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.oaAccount != null">
        OA_ACCOUNT = #{record.oaAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.oaPassword != null">
        OA_PASSWORD = #{record.oaPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.salt != null">
        SALT = #{record.salt,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update emps
    set EMP_ID = #{record.empId,jdbcType=INTEGER},
      ENAME = #{record.ename,jdbcType=VARCHAR},
      SEX = #{record.sex,jdbcType=VARCHAR},
      BIRTHDAY = #{record.birthday,jdbcType=TIMESTAMP},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      HIREDATE = #{record.hiredate,jdbcType=TIMESTAMP},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=VARCHAR},
      OA_ACCOUNT = #{record.oaAccount,jdbcType=VARCHAR},
      OA_PASSWORD = #{record.oaPassword,jdbcType=VARCHAR},
      SALT = #{record.salt,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Emps">
    update emps
    <set>
      <if test="ename != null">
        ENAME = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="phone != null">
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="hiredate != null">
        HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="deptId != null">
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="oaAccount != null">
        OA_ACCOUNT = #{oaAccount,jdbcType=VARCHAR},
      </if>
      <if test="oaPassword != null">
        OA_PASSWORD = #{oaPassword,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        SALT = #{salt,jdbcType=VARCHAR},
      </if>
    </set>
    where EMP_ID = #{empId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Emps">
    update emps
    set ENAME = #{ename,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
      PHONE = #{phone,jdbcType=VARCHAR},
      HIREDATE = #{hiredate,jdbcType=TIMESTAMP},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=VARCHAR},
      OA_ACCOUNT = #{oaAccount,jdbcType=VARCHAR},
      OA_PASSWORD = #{oaPassword,jdbcType=VARCHAR},
      SALT = #{salt,jdbcType=VARCHAR}
    where EMP_ID = #{empId,jdbcType=INTEGER}
  </update>
  
  
  
  <select id="findRolesByEmpID" resultMap="role">
  select roles.role_id rid,rname from roles JOIN emp_role on roles.role_id = emp_role.role_id where emp_id =#{empId}
  </select>
  
  <resultMap type="com.woniu.domain.Roles" id="role">
  	<id property="roleId" column="rid"/>
  	<result property="rname" column="rname"/>
  </resultMap>
  
  <delete id="removeRolesByEid">
  	delete from emp_role where emp_id = #{eid}
  </delete>
  
  <insert id="grantRolesByEid">
  	insert into emp_role values(#{eid},#{rid})
  </insert>
</mapper>